{% extends 'layout.html' %}

{% block content %}

<div class="hero-section text-center">

    <h1 class="display-3 fw-bold">
        🏏 IPL Analytics 
    </h1>

    <p class="lead mt-4 text-white">
        Machine Learning Powered IPL Analytics Platform
    </p>

    <div class="mt-5">

        <a href="/win-predictor" class="btn btn-warning btn-lg m-2 fw-bold px-4 shadow">
            Win Predictor
        </a>

        <a href="/score-predictor" class="btn btn-danger btn-lg m-2 fw-bold px-4 shadow">
            Score Predictor
        </a>

        <a href="/about" class="btn btn-primary btn-lg m-2 fw-bold px-4 shadow">
            About Project
        </a>

    </div>

</div>

{% endblock %}